.menuItem a:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #403F3D;
    transform: scaleX(1);
    
    
}
/* .menuItem a:before img{
    border-left: 10px;
} */
.coffee-menu a{
    top: 0px;
    
}
.menuContainer{
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    padding: 0px 40px;
    justify-content: center;
    align-self: stretch;
    gap: 40px;
}
.menuDescription{
    text-align: center;
}
.menuCarousel{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}
.menuCarousel p{
    color: var(--Text-Dark, #403F3D);
font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.menuCarouselButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    height: 46px;
    /* background: #C1B6AD; */
    transition: all 1s;
    text-decoration: none;
}

.menuCarouselButton:hover{
    background: #665F55;
    transition: all 1s;
    
}
.menuCarouselButton:hover .menuCarouselButtonImg{
    background: #E1D4C9;
    transition: all 1s;
}
.menuCarouselButton img{
    height: 24px;
    align-items: center;
    justify-content: center;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    background: #C1B6AD;
    transition: all 1s;
}
.menuCards{
    display: grid;
    grid-template-areas: 
    "A B C D"
    "E F G H";
    gap: 40px;
    text-align: left;
    justify-content: center;
    
}

.menuCards h3{
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.menuCards p{
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
}
.menuCardSize{
    max-height: 506px;
}

.menuCard1{
    /* height: 506px;*/
    width: 310px; 
    grid-area: A;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    
}
.menuCard1Foto {
    background-image: url("../img/coffee-1.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    transition: 1s;
    overflow: hidden;
    min-height: 310px;
}
.menuCard1:hover .menuCard1Foto{
    background-size: 100%;
    transition: all 1s;
}
.menuCardSpecification{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 12px;
    margin: 0px; 
    min-height: 150px;
    
}

.menuCardSpecification h3,p{
    margin: 0px;
    cursor: default; 
}
 /* .menuCardTitle{
    align-self: flex-start;

} */
/* .menuCardPrice{
    align-self: flex-end;
} */
/* .menuCard1Price{
    position: absolute;
    bottom: 0px;
} */

.menuCard2{
    grid-area: B;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 310px;
    max-height: 506px;
}
.menuCard2Foto {
    background-image: url("../img/coffee-2.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: 1s;
}
.menuCard2:hover .menuCard2Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard3{
    grid-area: C;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 310px;
}
.menuCard3Foto {
    background-image: url("../img/coffee-3.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: 1s;
}
.menuCard3:hover .menuCard3Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard4{
    grid-area: D;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 310px;
}
.menuCard4Foto {
    background-image: url("../img/coffee-4.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: 1s;
}
.menuCard4:hover .menuCard4Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard5{
    grid-area: E;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    width: 310px;
}
.menuCard5Foto{
    background-image: url("../img/coffee-5.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: all 1s;
}
.menuCard5:hover .menuCard5Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard6{
    grid-area: F;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    width: 310px;
}
.menuCard6Foto{
    background-image: url("../img/coffee-6.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: all 1s;
}
.menuCard6:hover .menuCard6Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard7{
    grid-area: G;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    width: 310px;
}
.menuCard7Foto{
    background-image: url("../img/coffee-7.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: all 1s;
}
.menuCard7:hover .menuCard7Foto{
    background-size: 100%;
    transition: all 1s;
}

.menuCard8{
    grid-area: H;
    border: 2px solid #C1B6AD;
    border-radius: 40px;
    position: relative;
    width: 310px;
}
.menuCard8Foto{
    background-image: url("../img/coffee-8.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    width: 310px;
    min-height: 310px;
    border-radius: 40px;
    transition: all 1s;
}
.menuCard8:hover .menuCard8Foto{
    background-size: 100%;
    transition: all 1s;
}
