/* body{
    max-width: 768px;
    background-color: #E1D4C9;
    margin: auto;
}

.conteiner{
display: flex;
flex-direction: row;
gap: 10px;
border: green 2px solid;
padding: 20px;
} */

.modal{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 1;
    transition: all ease 1s;
}

.modal.open{
    visibility: visible;
    opacity: 1;
    transition: all ease 1s;
}

.modalProductCard{
    background-color: #E1D4C9;
    max-width: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    transform: scale(0);
    transition: all ease 1s;
}

.modal.open .modalProductCard{
    transform: scale(1);
    transition: all ease 0.5s;
}

.card-img{
    width: 310px;
    height: 310px;
    background-image: url("../img/coffee-1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 40px;
    border: black 2px solid;
}

.card-description{
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-description-specification{
display: flex;
flex-direction: column;
gap: 20px;
}

.card-description-specification-title{

}

.card-description-specification-definition{

}

.card-description-size{
display: flex;
flex-direction: column;
gap: 20px;
}

.card-description-size-title{

}

.card-description-size-button{
display: flex;
flex-direction: row;
gap: 20px;
}

.card-description-size-button-btn1,
.card-description-size-button-btn2,
.card-description-size-button-btn3{

}

.card-description-additives{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-description-additives-title{

}

.card-description-additives-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-description-additives-button-btn1,
.card-description-additives-button-btn2,
.card-description-additives-button-btn3{

}

.card-description-price{
display: flex;
flex-direction: column;
gap: 40px;
}

.card-description-price-noSpan{
    display: flex;
    flex-direction: row;
    gap: 40px;
    }

.card-description-price-total{

}

.card-description-price-price{

}

.card-description-price span{
width: 400px;
height: 1px;
background-color: #000;
}

.card-description-sale{
display: flex;
flex-direction: row;
}

.card-description-sale-img{

}

.card-description-sale-specification{

}

.card-description-btn{

}