@media (max-width: 380px){
    body{
        margin: 0px;
    }
    .header {
        margin: 16px;
    }
    .headerMenuButton {
        display: initial;
    }
    .menuContainer{
        padding: 0px;
    }
    .menuCards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        justify-content: center;
    }

    .nav,
    .coffee-menu {
        display: none;
    }

    .hero{
        padding: 60px 16px;
        background-size: 400%;
    }
    .hero h1{
        font-size: 42px;
    }
    .Enjoy_big{
        font-size: 42px;
    }

    .favorite-coffee h2{
        font-size: 32px;
    }
    .favorite-coffee span{
        font-size: 32px;
    }
    .slider_Fcoffee{
        width: 348px;
        place-content: center;
		
    }
	/* .slider_Fcoffee img{
       
		display: none;
    } */
.FC_menu img{
width: 320px;
height: 320px;
}

#ButtonLeftCarousel,
#ButtonRightCarousel {
    display: none;
}

    .About h2{
        font-size: 32px;
        padding: 16px;
    }
    .About span{
        font-size: 32px;
    }
	.About_img{
		padding:16px;
	}
    .AI_img1,
	.AI_img4 {
        background-size: cover;
		background-position-x: center;
        /*height: 726px;
        flex-shrink: 0;*/
    }
	.offer{
		width: 348px;
	}
	.offer h2{
		font-size: 32px;
	}
	.offer span{
		font-size: 32px;
	}
	.BtnOffer{
		flex-direction: column;
		gap: 20px;
	}
	.Mobile-app {
		gap: 20px;
	}
	.Contacts {
		margin: 20px;
		padding: 80px 20px;
		gap: 20px;
	}
	.ContactOffer h2{
		font-size: 32px;
	}
	.ContactOffer span{
		font-size: 32px;
	}
}
