@media (max-width: 768px){
    .headerMenuButton {
        display: initial;
    }
    .menuContainer{
        padding: 0px;
    }
    .menuCards{
        display: grid;
        grid-template-areas: 
        "A B"
        "C D";
        gap: 40px;
        text-align: left;
        justify-content: center;
    }
    .menuCard5,
    .menuCard6,
    .menuCard7,
    .menuCard8 {
        display: none;
    }

    .nav,
    .coffee-menu {
        display: none;
    }

    .menuCarousel p{
        font-size: 16px;
    }
    .menuCarousel{
        gap: 16px;
    }
    .menuContainerButtonUpdate{
        display: initial;
        align-self: center;
        width: 60px;
        height: 60px;
    }
    .Contacts{
        flex-direction: column;
        padding: 100px 60px;
    }
    .ContactOffer{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
