body{
    max-width: 1440px;
    background-color: #E1D4C9;
    margin: auto;
}

h1{
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: var(--Text-Light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
}

h2{

    color: var(--Text-Dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.offer h2{
    color: #E1D4C9;
}

.h2_accent{
    color: var(--Text-Accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

h3{
    color: var(--Text-Dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.medium_text{
    color: var(--Text-Dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.link_text{
    color: var(--Text-Dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.offer p{
    text-align: left;
}

.medium_text_hero{
    color: var(--Text-Light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.Enjoy_big{
    color:  #B0907A;
    font-family: Inter;
    font-size: 72px;
    font-style: italic;
    font-weight: 600;
    line-height: 105%;
}

.header{
    flex-direction: column;
    display: flex;
}

.header-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    /* border: 3px solid black; */
}

.nav{
    display: flex;
    flex-direction: row;
    color: var(--Text-Dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    gap: 20px;
}

.nav a{
    position: relative;
    color: #403F3D;
    text-decoration: none;
}

.menu-item a:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #403F3D;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.menu-item a:hover:before{
    transform: scaleX(1);
}

.coffee-menu {
    display: flex;
    flex-direction: row;
    color: var(--Text-Dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding-right: 2%;
}

.coffee-menu a{
    text-decoration: none;
    color: #403F3D;
    position: relative;
    top: -2px;
    
}

.hero {
    /* border: 3px solid black; */
    display: flex;
    padding: 100px;
    flex-direction: column;
    gap: 36px;
    align-self: stretch;
    background-image: url("../img/img-hero.jpg");
    background-size: 110%;
    border-radius: 40px;
    max-width: 1360px;
    background-repeat: no-repeat;
}

.btn-menu{
    display: flex;
    text-decoration: none;
    width: 200px;    
    border-radius: 100px;
    background: var(--Background-Body, #E1D4C9);
    justify-content: center;
    align-items: center;
}

.btn-menu p{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
    font-weight: 600;
    transform: translateX(10px);
    transition: all ease 0.5s;
}

.btn-menu img{
    opacity: 0;
    transition: all ease 0.5s;
}

.btn-menu:hover img{
    opacity: 1;
    transition: 1s;
}

.btn-menu:hover p{
    transform: translateX(-10px);
    transition: 1s;
}

.favorite-coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_Fcoffee{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1360px;
    justify-content: space-between;
}

.slider_Fcoffee img{
    width: 60px;
    height: 60px;
}

.FC_menu img{
    width: 480px;
    height: 480px;
}

.f-span{
    color: var(--Text-Accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.About_img{
    display: grid;
    grid-gap: 20px;
	grid-template-areas:
  "A B"
  "A C"
  "D C";
}

.About_img div{
    border-radius: 13px;
}

.AI_img1{
    background-image: url("../img/about-1.jpg");
	/*width: 660px;*/
    height: 590px;
	background-repeat: no-repeat;
    background-position: 0;
    background-size: 110%;
    transition: 1s;
	grid-area: A;
}

.AI_img2{
    background-image: url("../img/about-2.jpg");
	/*width: 660px;*/
    height: 430px;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 110%;
    transition: 1s;
	grid-area: B;
}

.AI_img3{
    background-image: url("../img/about-3.jpg");
	/*width: 660px;*/
    height: 430px;
    /* background-position: 0px; */
    background-position-x: 0px;
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: 110%;
    transition: 1s;
	grid-area: D;
}

.AI_img4{
    background-image: url("../img/about-4.jpg");
	/*width: 660px;*/
    height: 590px;
	background-repeat: no-repeat;
    background-position: 0;
    background-size: 110%;
    transition: 1s;
	grid-area: C;
}

.AI_img1:hover{
    background-size: 100%;
    }

.AI_img2:hover{
    background-size: 100%;
    }

.AI_img3:hover{
    background-size: 100%;
    }

.AI_img4:hover{
    background-size: 100%;
 }

.Mobile-app{
    display: flex;
    flex-direction: row-reverse;
}

.offer{
    align-self: center;
}

.BtnOffer a{
    text-decoration: none;
    border: 1px solid #403F3D;
    border-radius: 40px;

    color: var(--Text-Dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.BtnOffer{
    display: flex;
    flex-direction: row;   
    gap: 20px;
}

.BtnOffer p{
    margin-bottom: 0;
}

.BtnOffer h3{
    margin-top: 8px;
    font-size: 21px;
}

.BtnOffer a:hover{
    background-color: #665F55;
    color: #E1D4C9;
    transition: all ease 1s;
}

.BtnOffer a:hover h3{
    color: #E1D4C9;
    transition: all ease 1s;
    
}

.BtnApp{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
}

.BtnGoogle{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    
}

.BtnGoogleImg{
    /* grid-area: A; */
    align-self: center;
}

.BtnGoogleText{
    margin: 10px;
}

.BtnAppText{
    margin: 10px;
}

.Contacts{
    display: flex;
    flex-direction: row;
    background-color: #665F55;
    border-radius: 40px;
    max-width: 1360px;
    gap: 100px;
    padding: 100px;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-info h3{
    text-align: left;
    color: #E1D4C9;
}

.CI-link{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.CI-link a{
    display: inline;
    color: #E1D4C9;
    position: relative;
    text-decoration: none;
}

.text-link{
    padding-left: 9px;
    
}

.CI-link P{
    color: #E1D4C9;
    margin: 0%;
}

.CI-link a:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E1D4C9;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.CI-link a:hover:before{
    transform: scaleX(1);
}